body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #202020;
    color: #00FF00;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #00E600;
    color: #FFF;
    transform: scale(1.1);
}

button:active {
    background-color: #00CC00;
    color: #FFF;
    transform: scale(1.05);
}

#typing, #scoreText, #questionText, #interestText {
    max-width: 100%;
    overflow-wrap: break-word;
}

.typing-effect {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}

#score {
    text-align: center;
}

#interestButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-out {
    opacity: 1;
    animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url('logo.jpg'); /* 替换为你的图片路径 */
    background-size: contain; /* 确保图片按比例缩放 */
    background-repeat: no-repeat; /* 避免图片重复 */
    background-position: center; /* 确保图片居中 */
    z-index: 1000;
    height: 100px; /* 你可以调整这个高度以适应你的设计 */
}




.logo{
    height: 40px;
    width: auto;
    position: fixed;
    z-index: 1000;
}
.menu {
    font-size: 2rem; /* Increase the size of the menu icon */
    cursor: pointer;
    color: #00FF00;
    border-radius: 15%;
}
.search-box {
    position: relative;
    margin-right: 0; /* 使搜索图标更靠近右边 */
}
.search-box input {
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #00FF00;
    width: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.search-box input:focus,
.search-box:hover input {
    width: 200px;
    opacity: 1;
}

.search-icon {
    font-size: 1.5rem;
    color: #00FF00;
    cursor: pointer;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh; /* 改为最小高度，允许页面内容超过一屏时滚动 */
    box-sizing: border-box;
}

.product-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it takes full width */
    z-index: 1;
}

.product {
    width: 300px; /* Set width to create a square */
    height: 300px; /* Set height to create a square */
    font-size: 4rem; /* Increase the size of the product text */
    margin: 20px;
    padding: 20px;
    border: 1px solid #00FF00;
    background-color: #202020;
    border-radius: 15%; /* Round the corners */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    
}

.product-intro {
    font-size: 1.5rem; /* Decrease the size of the product intro text */
    color: #FFF;
    margin: 10px;
    padding: 10px;
    text-align:left;
    z-index: 1;
}
.product2 {
    width: 300px; /* Set width to create a square */
    height: 300px; /* Set height to create a square */
    font-size: 4rem; /* Increase the size of the product text */
    margin: 20px;
    padding: 20px;
    border: 1px solid #00FF00;
    background-color: #202020;
    border-radius: 15%; /* Round the corners */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

a{
    color: #FFF;
}