body {
  background: #000 !important;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* 将按钮放在垂直方向的底部 */
  height: 100vh;
  padding: 0;
}

/* Custom Modal Styles */
.custom-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(238, 130, 238, 0) !important;
  color: #ff69b4;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  animation: fadeInUp 0.5s ease; /* Fade-in and slide-up animation */
}
.custom-modal .close-btn {
  background-color:rgba(238, 130, 238, 0); /* Set the background color */
  color: #fff; /* Set the text color */
  font-size: 12px; /* Adjust the font size */
  border: none; /* Remove border */
  padding: 10px 20px; /* Adjust padding */
  cursor: pointer;
  border-radius: 5px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Button Styles */
.btn-custom {
  background-color: #800080; /* Dark purple background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
}

.btn-custom:hover {
  background-color: #8b008b; /* Darker purple on hover */
}
.custom-modal img {
  border-radius: 20px; /* Adjust the value as needed */
  width: 80%; /* Ensure the image takes the full width of the container */
  height: auto; /* Maintain the aspect ratio of the image */
}
